html {
    font-family: 'Montserrat', sans-serif;;
}

body {
    background-color: #141922;
}

/* * HEADER*  */
header {
    min-height: 90px;
    max-height: 90px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
    padding: 0 40px;
}

header img {
    max-width: 150px;
}

header button {
    border: 1px white solid;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 50px;
    padding: 15px 40px;
}


/* * MAIN * */
main {
    background-color: #141922;
}

/* * FOOTER * */
footer {
    min-height: 90px;
    background-color: #282828;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 0.7em;
    padding: 0 10px;
}

footer .container {
    min-height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container > section {
    /* border: 1px dashed white; */
}

/* song info */
#song-info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

#song-info img {
    max-width: 50px;
    height: auto;
    display: block;
}

#song-info > .song-info__specs {
    margin-right: 1em;
}

/* player */
#player {
    display: flex;
    flex-direction: column;
    flex-grow: 2.5;
}

#player div:first-child {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.player__play-button {
    font-size: 1.6em;
}

.player__bar {
    background-color: #5a5a5a;
    height: 5px;
    border-radius: 50px;
    flex-grow: 1;
}

.player__bar > .player__progress-bar {
    background-color: white;
    height: inherit;
    border-radius: inherit;
    width: 30%;
}


/* footer settings */
#footer__settings {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 1em;
}

.settings__volume-bar {
    background-color: #5a5a5a;
    height: 5px;
    border-radius: 50px;
    flex-grow: 1;
}

.settings__volume-bar > .settings__volume-bar_progress {
    background-color: white;
    height: inherit;
    border-radius: inherit;
    width: 30%;
}



/* * NAV BAR * */
nav {
    width: 100%;
    max-width: 250px;
    background-color: black;
    height: calc(100vh - 90px);
    position: fixed;
    z-index: 50;
}