html {
    font-family: 'Montserrat', sans-serif;;
}

/* * FOOTER * */
footer {
    max-height: 100px;
    background-color: #282828;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

#song-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

#song-info img {
    max-width: 50px;
    height: auto;
    display: block;
}

#song-info > .song-info__specs {
    margin-right: 1em;
}




/* * NAV BAR * */
nav {
    width: 100%;
    max-width: 250px;
    background-color: black;
    height: calc(100vh - 100px);
    position: absolute;
}